:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);   
    font-family: 'Red Hat Display', sans-serif;   
}

* {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
	border: 0;  
}

body {    
    min-height: 100vh;
    background-image: url("../images/pattern-background-desktop.svg");
    background-color: var(--Pale-blue);    
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;      
}

main {    
    max-width: 90%;     
    background-color: white;
    border-radius: 20px;
    text-align: center;  
    margin-bottom: 20px;  
}

img {
    max-width: 100%;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h1 {
    margin:2.5rem 0 1.5rem 0;
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--Dark-blue);   
}

p {
    margin:1.5rem 0 1.5rem 0;
    color: var(--Desaturated-blue);
    font-weight: 500;
    padding: 0 35px;
    line-height: 1.5rem;    
}

.plan {
    background-color: var(--Very-pale-blue);
    width: 90%;
    margin:1.5rem auto 1.5rem auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;    
}

ul {
    margin: auto 0;
    margin-right: 50px;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    list-style: none;
}

li:first-of-type {
    font-weight: 900;
    margin-bottom: 5px;
    color: var(--Dark-blue);
}

li:last-of-type {
    color: var(--Desaturated-blue);
}

.plan a {
    margin: auto 0;
    font-weight: 700;
    transition: all 0.2s;
}

.plan a:hover {
    transform: translateY(-5px);
}

.proceed-to-payment {
    display: block;
    background-color: var(--Bright-blue);
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    font-weight: 900;
    text-decoration: none;
    color: var(--Very-pale-blue);
    transition: all 0.2s;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
}

.proceed-to-payment:hover{
    transform: translateY(-5px);
}

.cancel-order {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    font-weight: 900;    
    margin: 1rem auto 1.5rem auto;
    text-decoration: none;
    color: var(--Desaturated-blue);
    transition: all 0.2s;
}

.cancel-order:hover {
    transform: translateY(-5px);
}

@media (min-width: 400px) {
    main {
        max-width: 400px;
    }

    .plan {
        width: 80%;
    }

    .proceed-to-payment {
        width: 80%;
    }

    .cancel-order {
        width: 80%
    }
}